/* --------------------------- double ----------------------------------------------- */

html {
    height: 100%;
}

body {
    height: 100%;
    margin-bottom: 0 !important;
    background-color: #00a6e3;
}

main {
    background-color: #00a6e3 !important;
}

#content a, #content a:hover, #content a:visited {
    color: white;
}

#content a:hover {
    text-decoration: underline;
}

/*#content .well dd a, #content .well dd a:hover, #content dd a:visited {
    color: #57aae1;
}*/

#content .well .btn-application {
    margin-bottom: 8px;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 11;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.94+69,0.81+90,0+100 */
    /*background: -moz-linear-gradient(top, rgba(255,255,255,0.94) 0%, rgba(255,255,255,0.94) 69%, rgba(255,255,255,0.81) 90%, rgba(255,255,255,0) 100%); /!* FF3.6+ *!/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.94)), color-stop(69%,rgba(255,255,255,0.94)), color-stop(90%,rgba(255,255,255,0.81)), color-stop(100%,rgba(255,255,255,0))); /!* Chrome,Safari4+ *!/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.94) 0%,rgba(255,255,255,0.94) 69%,rgba(255,255,255,0.81) 90%,rgba(255,255,255,0) 100%); /!* Chrome10+,Safari5.1+ *!/
    background: -o-linear-gradient(top, rgba(255,255,255,0.94) 0%,rgba(255,255,255,0.94) 69%,rgba(255,255,255,0.81) 90%,rgba(255,255,255,0) 100%); /!* Opera 11.10+ *!/
    background: -ms-linear-gradient(top, rgba(255,255,255,0.94) 0%,rgba(255,255,255,0.94) 69%,rgba(255,255,255,0.81) 90%,rgba(255,255,255,0) 100%); /!* IE10+ *!/
    background: linear-gradient(to bottom, rgba(255,255,255,0.94) 0%,rgba(255,255,255,0.94) 69%,rgba(255,255,255,0.81) 90%,rgba(255,255,255,0) 100%); /!* W3C *!/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ffffff', endColorstr='#00ffffff',GradientType=0 ); /!* IE6-9 *!/*/
    background-color: transparent;
}

#nav + #mw-content-text {
    padding-top: 30px;
}

#nav .navbar {
    padding-top: 5px;
    background-color: #00a6e3; /*#00a6e3;*/
    border-radius: 0;
}

main.card-page #nav .navbar {
    padding-top: 0;
    border-top: 0;
    display: flex;
}

main.card-page .navbar-header {
    padding-top: 5px;
    flex-grow: 0;
    margin-right: 25px;
    margin-left: 10px;
    float: none;
}

main.card-page #bs-example-navbar-collapse-1 {
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    margin-right: 10px;
    float: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: flex-start;
}

main.card-page nav #search-trigger {
	color: white;
	margin: 0 20px 0 5px;
	font-weight: normal;
	cursor: pointer;
    float: none;
    font-size: 18px;
    line-height: 40px;
    transition: none;
}

main.card-page nav #country-select-wrapper {
	display: none;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper {
    position: relative;
    top: -5px;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .settle-geo-search-input.form-control {
	background-color: transparent;
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input {
	background-color: transparent;
	color: white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input input {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input input::-webkit-input-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input input::-moz-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input input::-ms-input-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input input::-moz-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-input input::placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content {

}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content .settle-geo-search-result-item-wrapper {

}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content .settle-geo-search-result-item-wrapper .glyphicon.glyphicon-map-marker {
	color: white;
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content .settle-geo-search-result-item-wrapper .settle-geo-result-item-suffix {
	color: rgba(255, 255, 255, 0.81);
}

main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content .settle-geo-search-result-item-wrapper.active .glyphicon.glyphicon-map-marker {
	color: #4a4a4a;
}

main.card-pagenavr #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content .settle-geo-search-result-item-wrapper.active .settle-geo-result-item-suffix {
	color: #4a4a4a;
}

main.card-page nav #country-select-wrapper .form-control.selectize-search-appendix {
	background-color: transparent;
	color: white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid white;
    position: relative;
    top: -5px;
    padding-right: 30px;
}

main.card-page nav #country-select-wrapper .form-control.selectize-search-appendix::-webkit-input-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .form-control.selectize-search-appendix::-moz-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .form-control.selectize-search-appendix::-ms-input-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .form-control.selectize-search-appendix::-moz-placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper .form-control.selectize-search-appendix::placeholder {
	color: white;
}

main.card-page nav #country-select-wrapper #searchform_smw a.search-submit {
	color: white !important;
	font-size: 18px;
    right: 7px;
    top: 11px;
}

/*main.card-page #bs-example-navbar-collapse-1.scrolled-state {
	background: -moz-linear-gradient(top, rgba(0,166,227,1) 0%, rgba(0,166,227,0.47) 71%, rgba(0,166,227,0.42) 77%, rgba(0,166,227,0) 100%); !* FF3.6-15 *!
	background: -webkit-linear-gradient(top, rgba(0,166,227,1) 0%,rgba(0,166,227,0.47) 71%,rgba(0,166,227,0.42) 77%,rgba(0,166,227,0) 100%); !* Chrome10-25,Safari5.1-6 *!
	background: linear-gradient(to bottom, rgba(0,166,227,1) 0%,rgba(0,166,227,0.47) 71%,rgba(0,166,227,0.42) 77%,rgba(0,166,227,0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6e3', endColorstr='#0000a6e3',GradientType=0 ); !* IE6-9 *!
}*/

#double-wrapper {
    margin: 0;
    min-height: 100%;
}

#nav {

}

#nav #language-selector {
    padding-right: 5px;
}

#nav #language-selector::before {
    display: none !important;
}

#nav #language-selector b.caret {
    margin-right: 5px;
}

#nav #faq-menu {
    color: #7fc77a;
    padding: 6px 6px 6px 10px;
    margin-left: 5px;
}

#nav #faq-menu:active,#nav #faq-menu:focus {
    background: none;
    outline: none;
}

#nav #why_signup {
    position: absolute;
    right: 0;
    bottom: -10px;
}

#nav #why_signup > a {
    color: white;
    text-decoration: none;
}

#nav #why_signup > a:hover {
    text-decoration: underline;
}

#nav #language-selector > a {
    color: white;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    border-radius: 4px;
    padding: 5px 10px;
}

#language-selector .dropdown-menu a:hover {
    background-color: #00a6e3;
}

#nav #language-selector > a:hover, #nav #language-selector a:active {
    /*color: #64bb5d;*/
}

#nav #language-selector .dropdown-toggle {
    border: 1px solid #ffe200;
    padding: 0 4px;
    font-size: 11px;
    margin: 5px 10px 5px 5px;
    border-radius: 0;
    line-height: 19px;
}

#nav #language-selector .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

#nav #language-selector .dropdown-menu a {
    color: black;
}

#nav .login-selector > a {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 5px 10px;
}

#nav .login-selector {
    margin-right: 5px;
}

#nav #right-side-actions {
    margin-top: 5px;
}

#double-wrapper > div {

}

#double-wrapper #double-col-left {
    background-color: #00a6e3;
    /*position: fixed;
    width: 50%;
    height: 100%;
    z-index: 10;*/
    padding: 62px 0 0 0;
}

#double-wrapper #double-col-right {

    /*background-color: #00a6e3;*/
    /*padding: 106px 15px 0 15px;*/
}

#country-select-wrapper {
    margin-top: 7px;
}

#country-select {
    width: 200px;
}

#country-select-wrapper .select2-selection__rendered {
    line-height: 37px;
}

#country-select-wrapper .select2-selection {
    height: 37px;
    border: 1px solid #64bb5d;
}

#country-select-wrapper .select2-selection__arrow {
    top: 6px;
}

#top-search input {
    background-color: white;
}

.wrapper-col {
    padding: 0 20px 20px 20px;
}

/*.action-buttons {
    margin: 0 0 30px 0;
}*/

.action-buttons::after {
    content: '';
    clear: both;
    display: table;
}

.action-buttons > .btn.btn-primary {
    margin-right: 5px;
}

.action-toolbar-bottom {
    margin-top: 10px;
}

.action-toolbar-bottom::after {
    content: '';
    display: table;
    clear: both;
}

.action-toolbar-bottom .action-buttons-bottom {
    /*float: left;*/
    /*margin-bottom: 10px;*/
}

.left-subtitle {
    margin: 0;
    font-size: 13px;
    display: inline-block;
    min-width: 220px;
    /*margin-top: 10px;*/
}

.left-subtitle span.label {
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.left-subtitle dt {
    width: 100px;
    padding-right: 10px;
    text-align: left;
}

.left-subtitle dd {
    margin-left: 0;
}

.tab-content {
    padding: 10px;
}

div.left-thankyou {
    width: 200px;
    padding: 10px 20px;
    margin: 20px auto 0 auto;
    background-color: #0b649d;
    color: white;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#bottom-footer {
    z-index: 100;
    position: fixed;
    bottom: -70px;
    width: 100%;
    height: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#bottom-footer .bottom-footer-badge {
    width: 30px;
    padding: 3px;
    text-align: center;
    background-color: #d2d2d2;
    margin: 0 auto;
    position: relative;
    top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.13);
}

#bottom-footer .bottom-footer-content {
    height: 100px;
    background-color: #d2d2d2;
    padding: 0;
}

#bottom-footer .bottom-footer-content .container {
    padding-top: 10px;
}

#bottom-footer a {
    color: #64bb5d;
}

#bottom-footer a:hover {
    color: black;
}

#bottom-footer .navbar-right a {
    color: #3498db;
}

#bottom-footer.footer-opened {
    bottom: 0;
}

.categories-list {
    list-style: none;
    padding-left: 0;
}

.categories-list li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
}

#content ul.categories-list li > a:hover {
    text-decoration: none;
}

/*.categories-list li + li::before {
    content: ', ';
    display: inline-block;
}*/

#login-popup-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    display: none;
}

div.left-tabs ul.nav-tabs {
    /*display: table;
    table-layout: fixed;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

div.left-tabs ul.nav-tabs::before, div.left-tabs ul.nav-tabs::after {
    display: none;
}

div.left-tabs ul.nav-tabs > li {
    display: block;
    float: none;
    text-align: center;
    margin: 0 15px 0 15px;
}

.author-thumbs-up {
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #64bb5d;
}

.author-thumbs-up:hover {
    color: black;
}

#double-col-left h1.left-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    /*font-size: 36px;*/
}

#double-col-left .bottom-left-subtitle {
    margin-top: 0;
    float: right;
    min-width: 180px;
}

#user-panel-selector i {
    margin-right: 5px;
}

.fa-add-count {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    width: 16px;
    background: #64bb5d;
    border-radius: 8px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}

#user-panel-bell div.dropdown-menu {
    padding: 10px;
    width: 250px;
    font-size: 12px;
}

#user-panel-bell div.dropdown-menu ul {
    list-style: none;
    padding: 10px 5px 0 10px;
}

#user-panel-bell div.dropdown-menu ul li {
    margin: 0 0 5px 0;
}

/* Remove separator between bell & watchlist */
#user-panel-bell::before {
    display: none !important;
}

#user-panel-bell .dropdown-toggle .fa-bell-o {
    color: #ffdd17;
}

#user-panel-bell.has-notifications .dropdown-toggle {
    color: #ffdd17;
}

#user-panel-watchlist {

}

main.card-page #bs-example-navbar-collapse-1 > ul > li#user-panel-watchlist > a {
    color: white;
    display: block !important;
    width: 30px;
    height: 20px;
    background: url("../../img/fa-watchlist.png") 0 0 no-repeat;
    position: relative;
    top: 7px;
}

main.card-page #bs-example-navbar-collapse-1 > ul > li#user-panel-watchlist.is-watched > a {
    background: url("../../img/fa-watchlist.png") 0 -20px no-repeat;
}

/*#user-panel-watchlist a .fa-stack {
    position: relative;
    top: -4px;
}

#user-panel-watchlist a .fa-stack .fa:first-child {
    font-size: 18px;
}

#user-panel-watchlist a .fa-stack .fa:last-child {
    right: -7px;
    left: auto;
    bottom: 0;
    background-color: #00a6e3;
    padding: 0;
    width: 17px;
    height: 15px;
    font-weight: 100;
    line-height: 15px;
    margin: 0;
    font-size: 13px;
}*/

.left-tabs .tab-content {
    /*height: 380px;*/
    /*overflow-y: scroll;*/
    font-size: 16px;
    padding: 30px 15px;
    height: auto;
    min-height: 300px;
}

/* Reduce left content height on smaller devices */
@media all and (max-height: 690px) and (min-width: 986px) {
    .left-tabs .tab-content {
        max-height: 280px;
    }
}

ul.page-editors-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.page-editors-list li {
    display: inline-block;
    margin-right: 5px;
}

ul.page-editors-list li a {
    font-size: 18px;
}

#double-col-right h2 {
    font-size: 36px;
}

#content p {
    font-size: 16px;
}

#comment-form {
    width: 100%;
}

#comment-form input[type="text"] {
    width: 510px;
}

/*.comments-popup-form {
    overflow: hidden;
}*/

.comments-popup-form .comments-list {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
/*    margin-right: -30px;
    padding-right: 18px;*/
}

.comments-popup-form .comments-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.comments-popup-form .comments-list ul li {
    display: block;
}

.comments-popup-form .comments-list ul li a, .comments-popup-form .comments-list ul li a:hover {
    color: white;
}

#add-to-watchlist {
    margin-left: 10px;
}

#double-col-left .nav-tabs {
    margin-left: 0;
}

#double-col-right #content .highlight-well {
    border: 1px solid #64bb5d;
}

#double-col-right #content h1 .mw-headline {
    color: white;
}

/* Styles for new tabs colors */

#double-col-left div.left-tabs {
    border-bottom: 2px solid #38b449;
}

#double-col-left div.left-tabs > ul.nav {
    background-color: transparent;
    border-bottom: 2px solid #38b449;
}

#double-col-left div.left-tabs > ul.nav > li:first-child {
    padding-left: 10px;
}

#double-col-left div.left-tabs > ul.nav > li:last-child {
    padding-right: 10px;
}

#double-col-left div.left-tabs > ul.nav > li + li {
    padding-left: 6px;
}

#double-col-left div.left-tabs > ul.nav > li a {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

#double-col-left div.left-tabs > ul.nav > li a {
    color: black;
    background-color: white;
    padding: 6px 0;
}

#double-col-left div.left-tabs > ul.nav > li.active a {
    color: white;
}

#double-col-left div.left-tabs > ul.nav > li.tab-green a {
    border-color: #38b449;
}

#double-col-left div.left-tabs > ul.nav > li.active.tab-green a {
    background-color: #38b449;
}

#double-col-left div.left-tabs > ul.nav > li.tab-blue a {
    border-color: #5acbf5;
}

#double-col-left div.left-tabs > ul.nav > li.active.tab-blue a {
    background-color: #5acbf5;
}

#double-col-left div.left-tabs > ul.nav > li.tab-yellow a {
    border-color: #ffe200;
}

#double-col-left div.left-tabs > ul.nav > li.active.tab-yellow a {
    background-color: #ffe200;
}

#double-col-left div.left-tabs > ul.nav > li.tab-orange a {
    border-color: #f7931d;
}

#double-col-left div.left-tabs > ul.nav > li.active.tab-orange a {
    background-color: #f7931d;
}

a.card-special-skin-link {
    cursor: pointer;
    outline: none;
}

span.card-special-skin-link-divider {
    color: #38b449;
    font-size: 16px;
    padding: 0 5px;
}

#double-col-left .action-buttons-bottom-right {
    text-align: right;
}

#double-col-left .rating-section-bottom {
    text-align: center;
    font-size: 13px;
    padding-top: 2px;
}

main.card-page ul#country-select-wrapper {
    /*width: calc(100% - 50px);
    min-width: 1px !important;
    max-width: 70%;*/
    float: none;
    margin: 0 15px 0 0;
    flex-grow: 1;
}

main.card-page #login-selector {
    text-transform: uppercase;
}

main.card-page #bs-example-navbar-collapse-1 > ul > li > a {
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    color: white;
    outline: none;
}

main.card-page #bs-example-navbar-collapse-1 > ul > li + li::before {
    color: white;
    content: "|";
    display: block;
    float: left;
    font-size: 16px;
    padding: 0;
    position: relative;
    top: 3px;
}

main.card-page #user-panel-selector .dropdown-menu a {
    color: black;
}

main.card-page #user-panel-selector .dropdown-menu a:hover {
    background-color: #00a6e3;
}

main.card-page #user-panel-selector .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

main.card-page .dropdown-menu.primary-back {
    border: 1px solid #00a6e3;
}

#double-col-right #content h1 {
    text-align: center;
    position: relative;
    font-size: 36px;
}

#double-col-right #content h2 {
    text-align: center;
    position: relative;
    font-size: 20px;
    color: white;
}

#double-col-right #content .col-right-label {
    max-width: 500px;
    margin: 0 auto 35px auto;
}

#double-col-right #content .col-right-label h1 {
    display: block;
    height: 3px;
    background-color: #ffdd17;
    margin-bottom: 27px;
}

#double-col-right #content .col-right-label h1 .mw-headline {
    position: relative;
    top: -19px;
    display: inline-block;
    background-color: #00a6e3;
    padding: 0 5px;
}

#double-col-right .right-col-inshort-wrapper {
    /*margin-top: 14px;*/
    /*margin-bottom: 25px;*/
    max-width: 750px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    #double-col-right .right-col-inshort-wrapper .inshort-col:first-child {
        max-width: 225px;
    }
}

#double-col-right .right-col-inshort-wrapper .inshort-col {
    padding: 0;
    margin-bottom: 25px;
}

#double-col-right .right-col-inshort-wrapper .social-links-well {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#double-col-right .inshort-col .card-special-skin-link,
#double-col-right .inshort-col .card-special-skin-link-divider {
    color: #00a6e3;
}

.article-layout-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.article-layout-section.section-blue {
    background-color: #00a6e3;
}

.article-layout-section.section-white {
    background-color: white;;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well {
    box-shadow: 1px 1px 15px 0 #00000059;
}

#double-col-right .left-tabs {
    max-width: 980px;
    margin: 0 auto;
    /*box-shadow: 0 0 9px #0000002e;*/
    /*margin-top: -125px;*/
}

#double-col-right .left-tabs li:first-child a {
    /*border-top-left-radius: 4px;*/
}

#double-col-right .left-tabs li:last-child a {
    /*border-top-right-radius: 4px;*/
}

#double-col-right .left-tabs li a {
    background-color: white;
    color: #00a6e3;
    border: 0;
}

#double-col-right .left-tabs li a:hover {
    /*color: white;*/
}

#double-col-right .left-tabs li.active a {
    background-color: #00a6e3;
    border: 0;
    font-weight: 500;
    color: white;
}

@media all and (max-width: 1300px) {
    #double-col-left div.left-tabs > ul.nav > li:first-child {
        padding-left: 0px;
    }

    #double-col-left div.left-tabs > ul.nav > li:last-child {
        padding-right: 0px;
    }
}

@media all and (min-width: 1024px) {
    #double-col-right .right-col-inshort-wrapper .inshort-col + .inshort-col {
        padding-left: 25px;
    }
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well {
    margin-bottom: 0;
    min-height: 275px;
    text-align: center;
    padding: 15px 15px 10px 15px;
    border-radius: 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.well-long {
	min-height: 268px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.well-long p.text-muted {
    color: black;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.well-border-rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.well-border-rounded-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well .text-muted {
    font-size: 13px;
    line-height: 16px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.height-shrink {
    min-height: 185px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well h2 {
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well h2 .mw-headline {
    color: black;
    font-size: 14px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-top {
    border-radius: 20px 20px 0 0;
    margin-bottom: 3px;
    min-height: 1px;
    text-align: center;
    color: #808284;
    padding: 8px 0;
}


#double-col-right .right-col-inshort-wrapper .inshort-col .well-top h2 {
    margin: 0 0 0 0;
    text-transform: uppercase;
    color: black;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-top h2 .mw-headline {
    color: black;
    font-size: 14px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-bottom {
    border-radius: 0 0 20px 20px;
    margin-top: 3px;
    min-height: 1px;
    text-align: center;
    color: #808284;
    padding: 8px 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-bottom h2 {
    margin: 0 0 0 0;
    text-transform: uppercase;
    color: black;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-bottom h2 .mw-headline {
    color: black;
    font-size: 14px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round {
    border-radius: 0;
    margin-top: 3px;
    min-height: 1px;
    line-height: 15px;
    padding: 0;
}

.btn-yellow {
    background-color: #ffe200;
    color: black;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
}

.btn-yellow:hover {
    text-decoration: none !important;
}

.btn-blue {
    background-color: #00a6e3;
    color: white;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
}

.btn-blue:hover {
    background-color: #00b2ef;
    text-decoration: none !important;;
}

.btn-green {
    background-color: #64bb5d;
    color: white;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
}

.btn-green:hover {
    background-color: #70ca60;
    text-decoration: none !important;;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-long .btn-yellow {
    background-color: #ffe200;
    width: 90%;
    max-width: 200px;
    color: black;
    font-weight: bold;
    margin: 15px auto 0 auto;
    display: block;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .btn-blue {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    color: white !important;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .btn-green {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 10px auto 0 auto;
    color: white !important;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.height-shrink a.btn-yellow {
    text-decoration: none !important;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .btn-yellow:hover {
    background-color: #ffc300;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round-user-picture {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #00a6e3;
    background-color: lightgrey;
	margin: 5px auto 0 auto;
    overflow: hidden;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round-user-picture a {
    display: block;
    width: 100%;
    height: 100%;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round-user-picture a img {
    width: 100%;
    height: 100%;
}

#double-col-right .col-right-languages {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 22px;
}

#double-col-right .col-right-languages ul {
    margin: 0;
    padding: 0;
}

#double-col-right .col-right-languages ul li {
    list-style: none;
    display: inline-block;
}

#double-col-right .col-right-languages ul li::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background-color: white;
    margin-right: 6px;
    position: relative;
    top: -2px;
}

#double-col-right .col-right-languages ul li + li {
    margin-left: 20px;
}

#double-col-right .col-right-languages ul li a {
    color: white;
    font-size: 16px;
}

#double-col-right .col-right-social-links {
    margin: 30px 0 30px 0;
    padding: 0;
    text-align: center;
}

#double-col-right .col-right-social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 6px 6px 6px;
}

#double-col-right .col-right-social-links li a::before {
    display: none;
}

#double-col-right .col-right-social-links li a.social-link-twitter {
    width: 50px;
    height: 50px;
    display: block;
    background: transparent url("../../img/icon-twitter.png") 0 0 no-repeat;
    background-size: 100%;
}

#double-col-right .col-right-social-links li a.social-link-google {
    width: 50px;
    height: 50px;
    display: block;
    background: transparent url("../../img/icon-google.png") 0 0 no-repeat;
    background-size: 100%;
}

#double-col-right .col-right-social-links li a.social-link-facebook {
    width: 50px;
    height: 50px;
    display: block;
    background: transparent url("../../img/icon-facebook.png") 0 0 no-repeat;
    background-size: 100%;
}

#double-col-right .col-right-social-links li a.social-link-some {
    width: 50px;
    height: 50px;
    display: block;
    background: transparent url("../../img/icon-some.png") 0 0 no-repeat;
    background-size: 100%;
}

#double-col-right .right-col-tips-collapser {

}

#double-col-right .right-col-tips-collapser > ul {
    margin: 0;
    padding: 0 0 0 5px;
}

#double-col-right .right-col-tips-collapser > ul > li {
    list-style: none;
    display: block;
}

#double-col-right .right-col-tips-collapser > ul > li a {
    list-style: none;
    display: block;
    padding: 10px 0;
    border: 1px solid white;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#double-col-right .right-col-tips-collapser > ul > li.active a {
    background-color: white;
}

/* Color status for tips active links */
#double-col-right .right-col-tips-collapser > ul > li.active a.tips-applying {
    color: #5acbf5;
    border-color: #5acbf5;
}

#double-col-right .right-col-tips-collapser > ul > li.active a.tips-time {
    color: #5acbf5;
    border-color: #5acbf5;
}

#double-col-right .right-col-tips-collapser > ul > li.active a.tips-money {
    color: #5acbf5;
    border-color: #5acbf5;
}

#double-col-right .right-col-tips-collapser > ul > li.active a.tips-other {
    color: #5acbf5;
    border-color: #5acbf5;
}

#double-col-right .right-col-tips-collapser > ul > li + li {
    margin-top: 10px;
}

#double-col-right .right-col-tips-collapser .tab-content {
    padding-left: 15px;
    padding-top: 0;
    padding-right: 0;
}

#double-col-right .right-col-tips-collapser .tab-content a {
    color: white;
    text-decoration: underline;
}

#double-col-right .right-col-tips-collapser .tab-pane {
    border: 1px solid white;
    background-color: white;
    color: gray;
    padding: 10px;
    height: 210px;
    overflow-y: scroll;
}

/* Tips page states */
#double-col-right .right-col-tips-collapser .tab-pane.active#tips-applying {
    border-color: #38b449;
}
#double-col-right .right-col-tips-collapser .tab-pane.active#tips-time {
    border-color: #5acbf5;
}
#double-col-right .right-col-tips-collapser .tab-pane.active#tips-money {
    border-color: #ffe200;
}
#double-col-right .right-col-tips-collapser .tab-pane.active#tips-other {
    border-color: #f7931d;
}

#double-col-right .col-right-related-pages {

}

#double-col-right .col-right-related-pages ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}

#double-col-right .col-right-related-pages ul li {
    list-style: none;
    display: inline-block;
    margin: 3px;
}

#double-col-right .col-right-related-pages ul li a {
    font-size: 14px;
    display: block;
    background-color: white;
    border: 1px solid #38b449;
    border-radius: 8px;
    padding: 4px 8px;
    color: #00a6e3
}

#double-col-right .right-col-contributors {
    margin-top: 25px;
    text-align: center;
    padding-left: 80px;
}

/*#double-col-right .right-col-contributors::before {
    content: "";
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background-color: #ffe200;
    height: 3px;
}*/

#double-col-right .right-col-contributors h1 .mw-headline {
    font-size: 19px;
}

#double-col-right .right-col-contributors ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}

#double-col-right .right-col-contributors ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

#double-col-right .right-col-contributors ul li:first-child {
    margin-left: 0;
}

#double-col-right .right-col-contributors ul li a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid white;
    background-color: gray;
}

#double-col-right .right-col-contributors ul li a > img {
    width: 100%;
    height: 100%;
}

#double-col-right a.contrib-send-thankyou {
    margin-top: 25px;
    font-size: 18px;
    display: inline-block;
    line-height: 28px;
    font-weight: 300;
}

#double-col-right a.contrib-send-thankyou:hover {
    text-decoration: none;
}

#double-col-right .right-col-how-to-contribute {
    /*background-color: white;*/
    /*width: 100%;
    margin: 35px auto 0 auto;*/
    text-align: center;
    padding: 15px 10px;
}

#double-col-right .right-col-how-to-contribute .how-to-contrib-title {
    font-size: 19px;
    color: white;
    font-weight: 400;
    margin: 55px 0 8px 0;
}

#double-col-right .right-col-how-to-contribute ul {
    margin: 0;
    padding: 0;
}

#double-col-right .right-col-how-to-contribute ul li {
    display: block;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

#double-col-right .right-col-how-to-contribute ul li + li::before {
    content: "";
    background-color: white;
    width: 2px;
    height: 19px;
    display: none;
    margin: 0 10px;
    position: relative;
    top: 3px;
}

.double-column-contrib {
    max-width: 980px;
    margin: 0 auto;
}

#double-col-right .right-col-how-to-contribute ul li a {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

#double-col-right .col-right-footer-links {
    margin: 100px 0 0 0;
    padding: 0;
    text-align: center;
}

#double-col-right .col-right-footer-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

#double-col-right .col-right-footer-links li a {
    color: white;
}

#double-col-right .right-col-comments-block {
    /*margin-top: 35px;*/
}

#double-col-right .right-col-comments-block {
    /*margin-top: 35px;*/
    color: white;
    /*background-color: #00a6e3;
    border: 2px solid #ffe200;*/
    padding: 10px;
    /*max-height: 250px;*/
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    max-width: 980px;
    margin: 0 auto;
}

#double-col-right .right-col-comments-block .right-comments-header {
    /*margin-top: 2px;*/
    text-align: center;
    font-size: 25px;
    margin: 23px 0 55px 0;
}

#double-col-right .right-col-comments-block .right-comments-input-wrapper {

}

#double-col-right .right-col-comments-block .right-comments-input-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

#double-col-right .right-col-comments-block .right-comments-input-wrapper .right-comments-user-icon-current {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 30px;
    border: 1px solid white;
    float: left;
}

#double-col-right .right-col-comments-block .right-comments-input-wrapper .right-comments-input-box {
    margin-left: 35px;
    margin-right: 50px;
}

#double-col-right .right-col-comments-block .right-comments-input-wrapper .right-comments-input-box input {
    color: black;
    width: 100%;
    padding: 0 5px;
}

#double-col-right .right-col-comments-block .right-comments-input-wrapper .right-comment-btn {
    float: right;
    padding-top: 3px;
    cursor: pointer;
}

#double-col-right .right-comments-comment-block {
    padding-left: 5px;
    margin-top: 10px;
}

#double-col-right .right-comments-comment-block::after {
    content: "";
    display: table;
    clear: both;
}

#double-col-right .right-comments-user-icon {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 30px;
    border: 1px solid white;
    float: left;
}

#double-col-right .right-comments-user-name {
    color: white;
    font-weight: bold;
    float: left;
    padding-left: 10px;
    max-width: 110px;
}

#double-col-right .right-comments-user-name::after {
    content: ":";
    display: inline;
}

#double-col-right .right-comments-comment {
    margin-left: 135px;
}

#double-col-left .left-tabs .tab-content .tab-pane .panel .panel-heading {
    background-color: #00a6e3 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

#double-col-left .left-tabs .tab-content .tab-pane .dl-horizontal {
    margin-bottom: 0;
}

#double-col-left .left-tabs .tab-content .tab-pane ol,
#double-col-left .left-tabs .tab-content .tab-pane ul {
    padding-left: 0;
    margin-left: 18px;
}

#double-col-left .left-tabs .tab-content .tab-pane .panel-body dd a {
    word-wrap: break-word;
}

.foreign-render-list {
    margin-top: 10px;
}

#double-col-left h1.left-heading p {
    padding-top: 10px;
}

#double-col-left span.card-category-label + span.card-category-label {
    margin-left: 5px;
}

#double-col-left .card-header-info-block {

}

#double-col-left .card-header-info-block .card-location-list {
    text-align: center;
    font-size: 24px;
}

#double-col-right .categories-list-wrapper {
    text-align: center;
    margin-bottom: 25px;
}

#double-col-right ol.card-categories-list {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

#double-col-right ol.card-categories-list li a {
    /*background-color: #00a6e3;*/
    background-color: transparent;
    font-size: 13px;
    font-weight: normal;
}

#double-col-right ol.card-categories-list li+li:before {
    color: white;
    content: " > ";
}

/* ---------------------  */

#double-col-left .left-heading {
    text-align: center;
    font-size: 45px;
}

#double-col-left .mw-headline {
    color: white;
    text-shadow: 1px 1px 1px #00000087;
}

#double-col-left .card-location-list.text-muted {
    color: white;
}

.inshort-col .col-right-social-links li a {
    color: #00a6e3 !important;
}

#double-col-right .col-right-languages {
    margin-bottom: 15px;
}

@media (max-width: 480px) {
    #double-col-right .right-col-inshort-wrapper {
        display: flex;
        flex-direction: column;
    }
    #double-col-right .right-col-inshort-wrapper > div {
        order: 1;
    }
    #double-col-right .right-col-inshort-wrapper > div:nth-child(2) {
        order: 0;
    }
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well.height-shrink a.btn-yellow {
    box-shadow: 1px 1px 2px #0000003b;
}

#double-col-right .left-tabs .tab-content {
    min-height: 500px;
}

#double-col-right .left-tabs .tab-content ol {
    margin-left: 0;
}

#double-col-right .tipcs-section-wrapper h1 {
    color: white;
    text-align: center;
    margin-bottom: 55px;
    font-size: 25px;
}

#double-col-right .tipcs-section-wrapper {
    max-width: 980px;
    margin: 0 auto;
}

#double-col-right .tipcs-section-wrapper .right-col-tips-collapser .tab-content > .tab-pane {
    border: 0;
    background: 0;
    color: white !important;
    padding-top: 0;
    overflow-y: auto;
    height: auto;
}

#double-col-right .tipcs-section-wrapper .right-col-tips-collapser .tab-content > .tab-pane {
    color: white !important;
    font-size: 16px;
}

#double-col-right .tipcs-section-wrapper .right-col-tips-collapser > ul {
    border-right: 1px solid #ffffff40;
    padding-right: 35px;
}

#double-col-right .tipcs-section-wrapper .right-col-tips-collapser ul li a {
    border-color: transparent;
    border-radius: 4px;
}

#double-col-right .tipcs-section-wrapper .right-col-tips-collapser ul li.active a {
    border-color: #38b449;
}

.right-col-contributors h1 {
    color: #00a6e3;
    text-align: center;
    margin-bottom: 25px;
}

.step-by-step-section {
    padding-top: 50px;
}

.step-by-step-section h1 {
    color: #00a6e3;
    text-align: center;
    margin-bottom: 55px;
}

.step-by-step-section h1 span {
    font-weight: 300;
    font-size: 25px !important;
}

.right-col-contributors h1 span {
    font-weight: 300;
    font-size: 20px !important;
}

.footerlinks-wrapper {
    max-width: 980px;
    margin: 110px auto 0 auto;
    text-align: center;
}

.footerlinks-wrapper ul {
    margin: 0;
    padding: 0;
}

.footerlinks-wrapper li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.footerlinks-wrapper a {
    color: white;
}

.settle-related-articles-block {

}

.settle-related-articles-block ul li a {
    background-color: transparent !important;
    border: none !important;
    font-weight: 300 !important;
    text-decoration: underline;
    color: #107498 !important;
}

main.card-page {
    padding-bottom: 0;
}

#nav .navbar .navbar-toggle {
    margin: 4px 0 0 0;
}

#nav .navbar .navbar-toggle .icon-bar {
    background-color: white !important;
}

#page-tips-achor, #page-contributors-achor {
    padding-top: 50px;
}

/* step by step colors */

#double-col-right #page-steps-achor .nav-tabs {
    border: 0;
    background: none;
}

/*#double-col-right #page-steps-achor li.tab-green.active > a {
    color: white;
    border-color: #38b449;
    background-color: #38b449;
}

#double-col-right #page-steps-achor li.tab-blue.active > a {
    color: white;
    border-color: #5acbf5;
    background-color: #5acbf5;
}

#double-col-right #page-steps-achor li.tab-yellow.active > a {
    color: white;
    border-color: #ffe200;
    background-color: #ffe200;
}

#double-col-right #page-steps-achor li.tab-orange.active > a {
    color: white;
    border-color: #f7931d;
    background-color: #f7931d;
}

#double-col-right #page-steps-achor li.tab-purple.active > a {
    color: white;
    border-color: #c15dc1;
    background-color: #c15dc1;
}*/

/* ---- */

#double-col-right #page-steps-achor li a {
    cursor: pointer;
    border-radius: 30px;
}

/*#double-col-right #page-steps-achor li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    z-index: 2;
}

#double-col-right #page-steps-achor li.tab-green > a {
    color: #38b449;
    border-color: #38b449;
    background-color: white;
    position: relative;
}

#double-col-right #page-steps-achor li.tab-green::before {
    background-color: #38b449;
}

#double-col-right #page-steps-achor li.tab-blue > a {
    color: #5acbf5;
    border-color: #5acbf5;
    background-color: white;
}

#double-col-right #page-steps-achor li.tab-blue::before {
    background-color: #5acbf5;
}

#double-col-right #page-steps-achor li.tab-yellow > a {
    color: #ffe200;
    border-color: #ffe200;
    background-color: white;
}

#double-col-right #page-steps-achor li.tab-yellow::before {
    background-color: #ffe200;
}

#double-col-right #page-steps-achor li.tab-orange > a {
    color: #f7931d;
    border-color: #f7931d;
    background-color: white;
}

#double-col-right #page-steps-achor li.tab-orange::before {
    background-color: #f7931d;
}

#double-col-right #page-steps-achor li.tab-purple > a {
    color: #c15dc1;
    border-color: #c15dc1;
    background-color: white;
}

#double-col-right #page-steps-achor li.tab-purple::before {
    background-color: #c15dc1;
}

#double-col-right #page-steps-achor .tab-content.tab-green {
    border: 1px solid #38b449;
    border-top: 0;
}

#double-col-right #page-steps-achor .tab-content.tab-blue {
    border: 1px solid #5acbf5;
    border-top: 0;
}

#double-col-right #page-steps-achor .tab-content.tab-yellow {
    border: 1px solid #ffe200;
    border-top: 0;
}

#double-col-right #page-steps-achor .tab-content.tab-orange {
    border: 1px solid #f7931d;
    border-top: 0;
}

#double-col-right #page-steps-achor .tab-content.tab-purple {
    border: 1px solid #c15dc1;
    border-top: 0;
}*/

/* ---- */

@media all and (max-width: 960px) {
    #double-col-right .right-col-inshort-wrapper .inshort-col .well,
    #double-col-right .right-col-inshort-wrapper .inshort-col .well.height-shrink {
        min-height: 1px;
    }
}

@media all and (max-width: 991px) {
    main.card-page #bs-example-navbar-collapse-1 #right-side-actions {
        display: none;
    }
    main.card-page ul#country-select-wrapper {
        /*width: calc(100% - 130px);
        margin-left: 45px;
        margin-right: 0;
        float: none;*/
    }
    main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .settle-geo-search-input.form-control {
        height: 42px;
    }
    main.card-page .navbar-header {
        margin-right: 0;
    }
    main.card-page #country-select-wrapper .settle-geo-search-wrapper {
        width: 50%;
    }
    main.card-page #country-select-wrapper input.selectize-search-appendix {
        width: 50%;
    }
    main.card-page nav #searchform_smw {
        display: flex;
    }
    main.card-page nav #search-trigger.opened-search {
        margin-right: 0;
    }
    main.card-page .navbar-brand.opened-search,
    main.card-page .navbar-toggle.opened-search {
        display: none !important;
    }
    main.card-page nav #country-select-wrapper #searchform_smw a.search-submit {
        top: 9px;
    }
    main.card-page nav #country-select-wrapper .settle-geo-search-wrapper .selectize-dropdown .selectize-dropdown-content {
        background-color: #00a6e3;
    }
}

@media all and (max-width: 768px) {
    main.card-page #double-col-right .right-col-tips-collapser .tab-content {
        padding-left: 5px;
        margin-top: 5px;
    }
    main.card-page #double-col-right .right-col-tips-collapser > ul > li {
        display: inline-block;
    }
    main.card-page #double-col-right .right-col-tips-collapser > ul > li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #double-col-right .right-col-tips-collapser .tab-pane {
        min-height: 1px;
    }
    #double-col-right .right-col-how-to-contribute > ul > li + li::before {
        height: 16px;
    }
    #double-col-right .right-col-how-to-contribute > ul > li a {
        font-size: 16px;
    }
}

@media all and (max-width: 480px) {
    #double-col-left .left-tabs ul.nav-tabs > li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    #double-col-left div.left-tabs > ul.nav > li:first-child {
        padding: 0;
        margin: 0;
    }
    #double-col-left div.left-tabs > ul.nav > li a {
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
    }
    #double-col-left div.left-tabs > ul.nav > li + li {
        padding: 0;
    }
    #double-col-left .rating-section-bottom {
        display: none;
    }
}

@media all and (max-width: 320px) {
    #double-col-left div.left-tabs .tab-pane ol {
        margin-left: 10px;
    }
    #double-col-left h1.left-heading {
        margin-top: 10px;
    }
    #double-col-left h1.left-heading .mw-headline {
        font-size: 28px;
    }
    #double-col-right .col-right-footer-links li {
        display: block;
        margin-bottom: 8px;
    }
    #double-col-right .right-col-how-to-contribute ul li {
        display: block;
        text-align: left;
    }
    #double-col-right .right-col-how-to-contribute ul li::before {
        content: "";
        /*background-color: #00a6e3;*/
        width: 2px;
        height: 19px;
        display: inline-block;
        margin: 0 15px;
        position: relative;
        top: 3px;
    }
    #double-col-right .col-right-related-pages ul li {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}

main.card-page .navbar-brand {
    width: 32px;
    height: 42px;
}


#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: baseline;
    box-sizing: border-box;
    padding: 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns > div {
    box-shadow: 1px 1px 10px 0 #00000059;
    padding: 0;
    background-color: white;
    margin-right: 3px;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns > div > a {
    display: block;
    padding: 17px 15px 17px 15px !important;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns > div:last-child {
    margin-right: 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns .main-btn-edit {
    text-align: center;
    float: none;
    padding: 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns .main-btn-edit a {
    margin: 0;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #00a6e3;
    font-size: 16px;
    font-weight: bold;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns .main-btn-translate {
    text-align: center;
    float: none;
    padding: 0;
}

#double-col-right .right-col-inshort-wrapper .inshort-col .well-round .main-btns .main-btn-translate a {
    margin: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #64bb5d;
    font-size: 16px;
    font-weight: bold;
}

/* ----------------------------------- media -------------------------------------------------------- */

/*@media (min-width: 1024px) {
    main.slideout-panel {
        will-change: initial !important;
    }
}*/

@media (max-width: 1024px) {
    #double-wrapper #double-col-left {
        float: none;
        display: block;
        position: relative;
        height: auto;
        width: 100%;
    }

    #double-wrapper #double-col-right {
        padding-top: 30px;
        margin-left: 0;
        width: 100%;
    }

    #nav {
        background-color: rgba(255, 255, 255, 1);
    }

    #nav #why_signup > a {
        color: #64bb5d;
    }

    #nav .login-selector > a {
        color: #64bb5d;
    }

/*    #nav #language-selector > a {
        color: #64bb5d;
    }*/

    #nav .fa-add-count {
        color: white !important;
    }

}

@media (max-width: 850px) {
    .navbar-brand {
        /*display: none;*/
    }
}

@media (max-width: 768px) {

    #double-col-left h1.left-heading {
        margin-top: 30px;
    }

    .navbar-form {
        margin: 6.5px 0 6.5px -15px;
    }

    .navbar-brand {
        display: block;
    }

    #bottom-footer .container {
        padding-top: 20px !important;
    }

    #bottom-footer ul.navbar-nav {
        margin: 0;
        padding: 0;
        float: left;
    }

    #bottom-footer ul.navbar-nav.navbar-right {
        float: right;
    }

    #bottom-footer ul.navbar-nav li {
        display: inline-block;
        font-size: 1em;
        padding-right: 5px;
    }

    #bottom-footer ul.navbar-nav li a {
        padding: 0 5px !important;
        margin: 0;
    }

    #double-col-right .right-col-how-to-contribute .how-to-contrib-title {
        text-align: center;
    }

    #double-col-right .right-col-how-to-contribute ul {
        text-align: center;
    }

    .right-col-contributors h1 {
        text-align: center;
    }

    #double-col-right .right-col-contributors ul {
        text-align: center;
    }

    #double-col-right .right-col-contributors {
        text-align: center;
        padding-left: 0;
    }

    #double-col-right .tipcs-section-wrapper .right-col-tips-collapser > ul {
        text-align: center;
        padding-right: 5px;
    }

}

@media (max-width: 480px) {

    main.card-page #double-col-right .right-col-tips-collapser > ul > li a {
        padding-left: 5px;
        font-size: 12px;
        padding-right: 5px;
    }

    #bottom-footer .container {
        padding-top: 15px !important;
    }

    #bottom-footer ul.navbar-nav {
        margin: 0;
        padding: 0;
        float: left;
    }

    #bottom-footer ul.navbar-nav.navbar-right {
        float: right;
    }

    #bottom-footer ul.navbar-nav li {
        display: inline-block;
        font-size: 0.8em;
        padding-right: 5px;
    }

    #bottom-footer ul.navbar-nav {
        text-align: center;
        width: 100%;
    }

    #bottom-footer ul.navbar-nav li a {
        padding: 0 !important;
        margin: 0 !important;
    }

    #comment-form input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .mobile-form-popup {
        width: 100%;
    }

    .left-subtitle {
        max-width: 100px;
        min-width: 0;
    }

    .left-subtitle dd {
        width: 100px;
    }

    .action-buttons button {
        margin-top: 10px;
    }

    div.left-tabs ul.nav-tabs {
        table-layout: inherit;
        flex-direction: column;
    }

    div.left-tabs ul.nav-tabs > li {
        display: block;
    }

    div.action-buttons-bottom {
        /*float: none;*/
    }

    /*div.action-buttons-bottom > button {
        float: left;
        margin-right: 5px;
    }*/

    div.action-buttons-bottom > a,
    div.action-buttons-bottom-right > a,
    .rating-section-bottom {
        font-size: 12px;
    }

    div.action-buttons-bottom > a#add-to-watchlist {
        clear: both;
        margin-top: 13px;
        display: block;
    }

    div.action-buttons-bottom > a#show-comments-link {
        margin-right: 0;
        clear: both;
        margin-left: 9px;
        margin-top: -15px;
        display: block;
    }

    #double-col-left dl.bottom-left-subtitle {
        display: block;
        clear: left;
        float: none;
        width: 100%;
        overflow: hidden;
    }

    #double-col-left dl.bottom-left-subtitle dt {
        float: left;
        width: 50%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 0;
        margin: 0
    }

    #double-col-left dl.bottom-left-subtitle dd {
        float: left;
        width: 50%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 0;
        margin: 0
    }

    #nav #why_signup {
        bottom: 10px;
    }

    nav a.navbar-brand {
        display: block !important;
    }

    #country-select-wrapper {
        width: 250px;
        float: left;
        margin-right: 0;
    }

    .left-tabs .tab-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .step-by-step-section h1 {
        margin-bottom: 25px;
    }

}

#mark_svg_logo path {
    fill: white !important;
}
