/* Navbar */

main.main-page-landing .nav .open>a,
main.main-page-landing .nav .open>a:focus,
main.main-page-landing .nav .open>a:hover {
	background-color: transparent;
}

main.main-page-landing .nav .dropdown-menu.primary-back>li>a:hover {
	color: black;
}

main.main-page-landing .js-animated {
	opacity: 0;
}

main.main-page-landing #nav {
	background: transparent;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

main.main-page-landing #nav nav.navbar {
	padding-bottom: 0;
}

main.main-page-landing #nav .navbar-header {
	padding-top: 3px;
	float: left;
}

main.main-page-landing #nav .navbar-header a {
	display: block;
	width: 164px;
	height: 41px;
	/*background: url("../../img/logo50h.png") 0 0 no-repeat;*/
}

main.main-page-landing #nav .navbar-header a svg path {
	transition: fill .4s ease;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 {
	float: right;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul.primary-back {
	padding-top: 0;
	padding-bottom: 0;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li {
	float: left;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul.primary-back li {
	float: none;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 > ul > li > a:hover {
	background: transparent;
	color: black;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li a {
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul.primary-back li a {
	padding: 5px 10px;
	margin: 0;
	cursor: pointer;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li#login-selector-main a {
	color: #00adef;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li#login-selector-main a:hover {
	color: black;
}

@media (max-width: 780px) {
	main.main-page-landing #nav {
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	main.main-page-landing #nav #bs-example-navbar-collapse-1 .navbar-nav .open .dropdown-menu {
		position: absolute !important;
		background-color: white;
		left: -20px;
	}
}

@media (max-width: 570px) {
	main.main-page-landing #nav .navbar-header a {
		display: block;
		width: 135px;
		height: 34px;
		/*background-size: 100%;*/
		margin-top: 5px;
	}
}

/* Slide 1 ---------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-1 {
	/*background: url('../../img/landing/slide_1.jpg') center 0 no-repeat;
	background-size: cover;*/
}

main.main-page-landing #fullpage .vegas-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
    z-index: -1;
}

main.main-page-landing #fullpage .slide-1 .jumbotron {
	background: transparent;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-1 .jumbotron .i-jumbotext a {
    color: white;
    text-decoration: underline;
}

main.main-page-landing #fullpage .slide-1 .jumbotron .i-jumbotext h1 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}


main.main-page-landing #fullpage .slide-1 .above-fold {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	color: #33BBED;
	padding: 8px 0;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
	animation-delay: 0.7s;
	background-color: white;
	z-index: 2;
}

/* Slide 2 --------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-2 {
	background-color: white;
}

main.main-page-landing #fullpage .slide-2 #home-icons {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	-o-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

main.main-page-landing #fullpage .slide-2 .home-icons-text {
	margin-top: 25px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}

main.main-page-landing #fullpage .slide-2 .above-fold {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	background-color: #33BBED;
	padding: 8px 0;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	color: white;
	z-index: 2;
}

@media (orientation: landscape) and (max-width: 570px) {
	main.main-page-landing #home-icons .col-home-mobile {
		float: left;
		width: 33.333%;
		padding-top: 20px;
	}
	main.main-page-landing #home-icons .col-home-mobile img {
		max-width: 100px;
	}
	main.main-page-landing #fullpage .slide-2 .home-icons-text {
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 300;
	}
}

@media (max-width: 960px) {
	main.main-page-landing #home-icons .col-home-mobile {
		/*float: none;
		width: 100%;*/
		display: inline-block;
		margin-bottom: 5px;
	}
	main.main-page-landing #home-icons .home-icons-mobile {
		text-align: center;
	}
	main.main-page-landing #home-icons .col-home-mobile img {
		max-width: 100px;
	}
	main.main-page-landing #fullpage .slide-2 .home-icons-text {
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 300;
	}
}

/* Slide 3 --------------------------------------------------------------------------------------------------- */

main.main-page-landing[data-custom-slide-num="3"] #nav .navbar-header a svg path.st1 {
	/*background-position-y: -41px;*/
	fill: white;
}

@media (max-width: 570px) {
	main.main-page-landing[data-custom-slide-num="3"] #nav .navbar-header a {
		/*background-position-y: -34px;*/
	}
}

main.main-page-landing[data-custom-slide-num="3"] #nav #bs-example-navbar-collapse-1 > ul > li > a {
	color: white !important;
}

main.main-page-landing #fullpage .slide-3 {
	background-color: #33BBED;
}

main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle {
	background: transparent;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle h3 {
	margin-bottom: 32px;
}

main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle p {
	margin-bottom: 64px;
}

main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle .btn.btn-settle-orange {
	font-weight: 500;
}

main.main-page-landing #fullpage .slide-3 .above-fold {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	background-color: white;
	padding: 8px 0;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	color: #33BBED;
	z-index: 2;
}

@media (orientation: landscape) and (max-width: 570px) {
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle {
		margin-top: 0;
	}
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle h3 {
		font-size: 22px;
		margin-top: 0;
	}
	main.main-page-landing #fullpage .slide-5 .jumbotron.jumbotron-middle p {
		width: 95%;
		font-size: 14px;
	}
	main.main-page-landing #fullpage .slide-5 footer {
		font-size: 12px;
	}
	main.main-page-landing #fullpage .slide-5 footer ul {
		margin: 8px 0;
		text-align: center;
	}
	main.main-page-landing #fullpage .slide-5 footer ul > li {
		display: inline-block;
		text-align: center;
	}
	main.main-page-landing #fullpage .slide-5 footer ul > li > a {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 12px;
	}
}

@media (orientation: landscape) and (max-width: 960px) {
	main.main-page-landing #fullpage .slide-5 footer {
		font-size: 12px;
	}
	main.main-page-landing #fullpage .slide-5 footer ul {
		margin: 8px 0;
		text-align: center;
	}
	main.main-page-landing #fullpage .slide-5 footer ul > li {
		display: inline-block;
		text-align: center;
	}
	main.main-page-landing #fullpage .slide-5 footer ul > li > a {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 12px;
	}
}

@media (orientation: portrait) and (max-width: 480px) {
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle h3 {
		font-size: 22px;
		margin-top: 0;
		padding: 0 10px;
	}
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle p {
		width: 95%;
		font-size: 14px;
	}
	main.main-page-landing #fullpage .slide-3 footer {
		font-size: 14px;
	}
	main.main-page-landing #fullpage .slide-3 footer ul {
		margin: 0;
	}
	main.main-page-landing #fullpage .slide-3 footer ul > li > a {
		padding: 10px 5px;
	}
}

/* Slide 4 --------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-4 {
	background-color: white;
}

main.main-page-landing #fullpage .slide-4 .jumbotron.jumbotron-middle {
	background: transparent;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-4 .jumbotron.jumbotron-middle h3 {
    color: #33BBED;
	margin-bottom: 32px;
}

main.main-page-landing #fullpage .slide-4 .jumbotron.jumbotron-middle p {
    color: black;
	margin-bottom: 32px;
}

main.main-page-landing #fullpage .slide-4 .main-page-categoris-links a {
	font-weight: normal;
    font-size: 15px;
}

main.main-page-landing #fullpage .slide-4 .above-fold {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: #33BBED;
    padding: 8px 0;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    color: white;
    z-index: 2;
}


/* Slide 5 --------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-5 .main-page-categoris-links a.btn + a {
	color: white;
	font-size: 15px;
	margin-left: 8px;
}

main.main-page-landing #fullpage .slide-5 .jumbotron.jumbotron-middle h3 {
	margin-bottom: 32px;
}

main.main-page-landing[data-custom-slide-num="5"] #nav .navbar-header a svg path.st1 {
    /*background-position-y: -41px;*/
    fill: white;
}

@media (max-width: 570px) {
    main.main-page-landing[data-custom-slide-num="5"] #nav .navbar-header a {
        /*background-position-y: -34px;*/
    }
}

main.main-page-landing[data-custom-slide-num="5"] #nav #bs-example-navbar-collapse-1 > ul > li > a {
    color: white !important;
}

main.main-page-landing #fullpage .slide-5 {
    background-color: #33BBED;
}

main.main-page-landing #fullpage .slide-5 .jumbotron.jumbotron-middle {
    background: transparent;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-5 .jumbotron.jumbotron-middle .btn.btn-settle-orange {
    font-weight: 500;
}

main.main-page-landing #fullpage .slide-5 footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    height: auto;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
    z-index: 2;
}

.jumbotron .how-help-links > span > a {
    color: white;
    font-size: 15px;
    font-weight: normal;
	margin-bottom: 10px;
	display: inline-block;
}

.jumbotron .how-help-links > span > a:hover {
    color: #eaeaea;
}

@media (orientation: portrait) and (max-width: 570px) {
	.jumbotron-middle p {
		width: 90% !important;
	}
	.jumbotron-middle h3 br {
		display: none;
	}
}

@media (orientation: landscape) and (max-width: 960px)  {
	.jumbotron-middle p {
		width: 90% !important;
	}
	.jumbotron-middle h3 br {
		display: none;
	}
}


#first_jumbo_p {
	position: relative;
}

#rndUserPlaceholder {
	display: inline-block;
	width: 100px;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 19px;
	position: relative;
	top: 1px;
}

.btn-settle-blue {
	border: 1px solid #33BBED !important;
	color: #33BBED;
	background-color: white;
}

.btn-settle-blue:hover {
	border: 1px solid #33BBED !important;
	color: white !important;
	background-color: #33BBED;
}

.btn-settle-white {
	border: 1px solid white !important;
	color: white;
	background-color: transparent;
}

.btn-settle-white:hover {
	border: 1px solid white !important;
	color: #33BBED !important;
	background-color: white;
}
