/* Navbar */

main.main-page-landing .nav .open>a,
main.main-page-landing .nav .open>a:focus,
main.main-page-landing .nav .open>a:hover {
	background-color: transparent;
}

main.main-page-landing .nav .dropdown-menu.primary-back>li>a:hover {
	color: black;
}

main.main-page-landing .js-animated {
	opacity: 0;
}

main.main-page-landing #nav {
	background: transparent;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

main.main-page-landing #nav nav.navbar {
	padding-bottom: 0;
}

main.main-page-landing #nav .navbar-header {
	padding-top: 3px;
	float: left;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 {
	float: right;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li {
	float: left;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 > ul > li > a:hover {
	background: transparent;
	color: black;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li a {
	margin: 0 10px;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li#login-selector-main a {
	color: #00adef;
}

main.main-page-landing #nav #bs-example-navbar-collapse-1 ul li#login-selector-main a:hover {
	color: black;
}

@media (max-width: 780px) {
	main.main-page-landing #nav {
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	main.main-page-landing #nav #bs-example-navbar-collapse-1 .navbar-nav .open .dropdown-menu {
		position: absolute !important;
		background-color: white;
		left: -20px;
	}
}

/* Slide 1 ---------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-1 {
	/*background: url('../../img/landing/slide_1.jpg') center 0 no-repeat;
	background-size: cover;*/
}

main.main-page-landing #fullpage .vegas-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
    z-index: -1;
}

main.main-page-landing #fullpage .slide-1 .jumbotron {
	background: transparent;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-1 .jumbotron .i-jumbotext h1 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}


main.main-page-landing #fullpage .slide-1 .above-fold {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	color: #33BBED;
	padding: 8px 0;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
	animation-delay: 0.7s;
	background-color: white;
	z-index: 2;
}

/* Slide 2 --------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-2 {
	background-color: white;
}

main.main-page-landing #fullpage .slide-2 #home-icons {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	-o-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

main.main-page-landing #fullpage .slide-2 .home-icons-text {
	margin-top: 25px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}

main.main-page-landing #fullpage .slide-2 .above-fold {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	background-color: #33BBED;
	padding: 8px 0;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	color: white;
	z-index: 2;
}

@media (orientation: landscape) and (max-width: 570px) {
	main.main-page-landing #home-icons .col-home-mobile {
		float: left;
		width: 33.333%;
		padding-top: 20px;
	}
	main.main-page-landing #home-icons .col-home-mobile img {
		max-width: 100px;
	}
	main.main-page-landing #fullpage .slide-2 .home-icons-text {
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 300;
	}
}

@media (orientation: portrait) and (max-width: 480px) {
	main.main-page-landing #home-icons .col-home-mobile {
		float: none;
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}
	main.main-page-landing #home-icons .col-home-mobile img {
		max-width: 100px;
	}
	main.main-page-landing #fullpage .slide-2 .home-icons-text {
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 300;
	}
}

/* Slide 3 --------------------------------------------------------------------------------------------------- */

main.main-page-landing[data-custom-slide-num="3"] #nav #bs-example-navbar-collapse-1 > ul > li > a {
	color: white !important;
}

main.main-page-landing #fullpage .slide-3 {
	background-color: #33BBED;
}

main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle {
	background: transparent;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle .btn.btn-settle-orange {
	font-weight: 500;
}

main.main-page-landing #fullpage .slide-3 .above-fold {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	background-color: white;
	padding: 8px 0;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	color: #33BBED;
	z-index: 2;
}

@media (orientation: landscape) and (max-width: 570px) {
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle {
		margin-top: 0;
	}
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle h3 {
		font-size: 22px;
		margin-top: 0;
	}
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle p {
		width: 95%;
		font-size: 14px;
	}
	main.main-page-landing #fullpage .slide-3 footer {
		font-size: 12px;
	}
	main.main-page-landing #fullpage .slide-3 footer ul {
		margin: 8px 0;
		text-align: center;
	}
	main.main-page-landing #fullpage .slide-3 footer ul > li {
		display: inline-block;
		text-align: center;
	}
	main.main-page-landing #fullpage .slide-3 footer ul > li > a {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 12px;
	}
}

@media (orientation: portrait) and (max-width: 480px) {
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle h3 {
		font-size: 22px;
		margin-top: 0;
		padding: 0 10px;
	}
	main.main-page-landing #fullpage .slide-3 .jumbotron.jumbotron-middle p {
		width: 95%;
		font-size: 12px;
	}
	main.main-page-landing #fullpage .slide-3 footer {
		font-size: 14px;
	}
	main.main-page-landing #fullpage .slide-3 footer ul {
		margin: 0;
	}
	main.main-page-landing #fullpage .slide-3 footer ul > li > a {
		padding: 10px 5px;
	}
}

/* Slide 4 --------------------------------------------------------------------------------------------------- */

main.main-page-landing #fullpage .slide-4 {
	background-color: white;
}

main.main-page-landing #fullpage .slide-4 .jumbotron.jumbotron-middle {
	background: transparent;
	color: #33BBED;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

main.main-page-landing #fullpage .slide-4 footer {
	position: absolute;
	bottom: 0;
	background-color: white;
	height: auto;
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	animation-delay: 0.75s;
	z-index: 2;
}

main.main-page-landing #fullpage .slide-4 .main-page-categoris-links a {
	font-weight: normal;
}