#wpTextbox1 {
    width: 100%;
}

.mw-editsection {
    display: none;
}

#double-col-left .action-buttons .btn a {
    color: white !important;
}

#sfForm a.select2-search-choice-close {
    top: 10px !important;
}

.login-popup-form, .comments-popup-form, .why-sign-up-popup, .add-new-article-popup-form {
    display: none;
    z-index: 1001;
    position: fixed;
    overflow: hidden;
    width: 600px;
    padding: 15px;
    background-color: white;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#add-new-article-popup-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.51);
    display: none;
}

.add-new-article-popup-form > h3 {
    margin-top: 10px;
}

.btn-native-loader {
    text-align: center;
    font-size: 0;
    padding: 8px 0;
    min-width: 50px;
    transition: none;
}

.btn-native-loader::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 auto;
    /* @embed */
    background: url("../../img/loader.gif") 0 0 no-repeat;
}

#newpage_btn_submit {
    transition: none;
}

.add-new-article-popup-form .new_page_suggestions {
    display: none;
}

/* ---------------------- MEDIA -------------------------- */

@media (max-width: 780px) {

    #nav {
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.24);
    }

    nav.navbar #faq-menu {
        margin: 0 !important;
    }

    nav.navbar .fa {
        display: none;
    }

    #nav #top-search, #nav #top-search .form-group {
        margin-bottom: 0 !important;
    }

    #nav #country-select + .select2 {
        width: 95% !important;
    }

    #useractions {
        text-indent: 48px;
    }

}

@media (max-width: 480px) {

    #sfForm #input_2 {
        width: 200px;
    }

    #sfForm table.formtable th {
        padding-right: 0;
        padding-left: 0;
        font-size: 14px;
    }

}