#wpTextbox1 {
    width: 100%;
}

.mw-editsection {
    display: none;
}

#double-col-left .action-buttons .btn a {
    color: white !important;
}

#sfForm a.select2-search-choice-close {
    top: 10px !important;
}