#wpTextbox1 {
    width: 100%;
}

.mw-editsection {
    display: none;
}

#double-col-left .action-buttons .btn a {
    color: white !important;
}

#sfForm a.select2-search-choice-close {
    top: 10px !important;
}

.login-popup-form, .comments-popup-form, .why-sign-up-popup {
    display: none;
    z-index: 1001;
    position: fixed;
    overflow: hidden;
    width: 600px;
    padding: 15px;
    background-color: white;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

@media (max-width: 780px) {

    #nav {
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.24);
    }

    nav.navbar #faq-menu {
        margin: 0 !important;
    }

    nav.navbar .fa {
        display: none;
    }

    #nav #top-search, #nav #top-search .form-group {
        margin-bottom: 0 !important;
    }

    #nav #country-select + .select2 {
        width: 95% !important;
    }

    #useractions {
        text-indent: 48px;
    }

}