#wpTextbox1 {
    width: 100%;
}

.mw-editsection {
    display: none;
}

#double-col-left .action-buttons .btn a {
    color: white !important;
}

#sfForm a.select2-search-choice-close {
    top: 10px !important;
}

.login-popup-form, .comments-popup-form, .why-sign-up-popup, .add-new-article-popup-form {
    display: none;
    z-index: 1001;
    position: fixed;
    overflow: hidden;
    width: 600px;
    padding: 15px;
    background-color: white;
    left: 50%;
    top: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#add-new-article-popup-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.51);
    display: none;
}

.add-new-article-popup-form > h3 {
    margin-top: 10px;
}

.btn-native-loader {
    text-align: center;
    font-size: 0;
    padding: 8px 0;
    min-width: 50px;
    transition: none;
}

.btn-native-loader::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 auto;
    /* @embed */
    background: url("../../img/loader.gif") 0 0 no-repeat;
}

#newpage_btn_submit {
    transition: none;
}

.add-new-article-popup-form .new_page_suggestions {
    display: none;
}

/* Slideout styles */

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#slideout {
    display: none;
    background-color: white;
}

#slideout.slideout-menu {
    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
    /*will-change: transform;*/
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open #slideout.slideout-menu {
    display: block;
}

#slideout > ul.nav {
    padding: 10px;
}

#slideout ul li a {
    border: none;
    color: #282828;
}

#slideout > ul.nav .panel {
    margin-bottom: 8px;
}

#slideout .slide-userpanel {
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 8px;
    background: linear-gradient(to right,#087ac0 0%,#2fbced 50%,#097bc0 100%);
}

#slideout .slide-userpanel img {
    max-width: 100px;
    position: relative;
}

#slideout .slide-userpanel .user-name {
    margin-top: 8px;
    font-size: 16px;
}

#slideout .login-selector a {
    color: #00adef;
}

#slideout .register-selector a {
    color: #57be74;
}

#slideout .faq-menu {

}

#slideout .user-panel-watchlist-action.is-watched {
    display: none;
}

#slideout .mobile-notifications-badge {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 18px;
}

#slideout .mobile-notifications-badge i {
    font-size: 14px;
}

.navbar .settle-geo-search-input.form-control {
    border: none;
}

.modal-scrollable {
    z-index: 100;
}

span.label.label-default > a {
    color: white;
}

/* ---------------------- MEDIA -------------------------- */

@media (max-width: 780px) {

    #nav {
        box-shadow: 0 -1px 13px rgba(0,0,0,0.24);
    }

    nav.navbar #faq-menu {
        margin: 0 !important;
    }

    nav.navbar .fa {
        display: none;
    }

    #nav #top-search, #nav #top-search .form-group {
        margin-bottom: 0 !important;
    }

    #nav #country-select + .select2 {
        width: 95% !important;
    }

    #useractions {
        text-indent: 48px;
    }

    .add-new-article-popup-form {
        width: calc( 100% - 20px );
        transform: none;
        -webkit-transform: none;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 20px;
    }

}

@media (max-width: 480px) {

    #sfForm #input_2 {
        width: 200px;
    }

    #sfForm table.formtable th {
        padding-right: 0;
        padding-left: 0;
        font-size: 14px;
    }

    .footer-social-icons {
        margin: 0;
        padding: 0;
    }

    .footer-menu-items {
        text-align: center;
    }

    .footer-menu-items li {
        display: inline-block;
        text-align: center;
    }

}