@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

html, body {

}

body {
    /*background-image: url(../img/bgpat.png);*/
    background-color: white;
    font-family: "MuseoSansCyrl", sans-serif;
}

#main-wrapper, #main-wrapper > section, #main-wrapper > section > .container {
    /*height: 100%;*/
}

#nav {
    background-color: white;
    position: relative;
    z-index: 10;
}

nav {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#nav > .container {
    padding-top: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 3px 0 0 0;
    margin-right: 10px;
}

.i-logo {
    width: 150px;
    margin: 0 auto 30px auto;
    position: relative;
    left: 10px;
    opacity: 0.2;
    z-index: 2;
}

.i-logo img {
    max-width: 150px;
    width: 90%;
}

.i-jumbotext {
    /*position: absolute;*/
    color: white;
    text-align: center;
    width: 100%;
    top: 10px;
    z-index: 3;
    margin-bottom: 20px;
}

.i-jumbotext p {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.jumbo-search {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.jumbo-search .selectize-dropdown-content {
   font-size: 15px;
}

.jumbo-search .selectize-input {
    cursor: text !important;
}

.jumbo-search .selectize-input input {
    font-weight: 300;
    cursor: text !important;
}

.jumbo-search .selectize-dropdown-content .settle-geo-result-item-main {
    font-weight: 500;
}

.jumbo-search .selectize-dropdown-content .settle-geo-result-item-suffix {
    font-weight: 300;
}

.jumbo-search .selectize-input, .jumbo-search input.selectize-search-appendix {
    border-radius: 0;
    padding: 10px 12px;
    min-height: 42px;
    background-color: white;
    outline: none;
}

.jumbo-search .selectize-input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0;
    border-top: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.jumbo-search .selectize-input.dropdown-active {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.jumbo-search input.selectize-search-appendix {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid rgb(204, 204, 204);
}

.jumbo-search .settle-geo-search-wrapper {
    width: 50%;
    float: left;
}

.jumbo-search .selectize-search-appendix {
    width: 50%;
    float: left;
}

.jumbo-search::after {
    display: table;
    content: "";
    clear: left;
}

.jumbo-search .form-control::-webkit-input-placeholder, .jumbo-search input::-webkit-input-placeholder {color:#d9dadc;}
.jumbo-search .form-control::-moz-placeholder, .jumbo-search input::-webkit-input-placeholder {color:#d9dadc;}/* Firefox 19+ */
.jumbo-search .form-control:-moz-placeholder, .jumbo-search input::-webkit-input-placeholder {color:#d9dadc;}/* Firefox 18- */
.jumbo-search .form-control:-ms-input-placeholder, .jumbo-search input::-webkit-input-placeholder {color:#d9dadc;}

nav .navbar-header .navbar-toggle .icon-bar {
    background-color: #64bb5d;
}

nav ul.nav > li,
nav ul.nav > li > a,
nav ul.nav > li:focus,
nav ul.nav > li > a:focus {
    transition: none !important;
    /*background: none;*/
}

nav ul.nav > li > a:hover {
    background-color: white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: white;
}

nav ul.nav > li a.btn {
    margin: 10px 0 0 0;
    padding: 2px 0;
    text-align: center;
    width: 80px;
}

nav ul.nav > li a.btn:focus {
    background-color: lightgrey;
}

.dropdown-menu.primary-back {
    background-color: white;
}

nav ul>li>a.btn-primary:hover {
    color: white;
    background-color: #64bb5d;
}

nav ul>li>a.btn-concrete:hover {
    color: white;
    background-color: #95a5a6;
}

.dropdown-menu.primary-back>li>a {
    color: #64bb5d;
}

.dropdown-menu.primary-back>li>a:hover {
    color: white;
}

.jumbo-country {
    width: 250px;
    margin-bottom: 20px;
}

.jumbo-country select {
    width: 250px;
}

.jumbo-country .select2-selection {
    height: 37px;
}

.jumbo-country .select2-selection .select2-selection__rendered {
    line-height: 37px;
}

.jumbo-country .dropdown-menu li a:hover {
    background-color: #64bb5d;
    color: white;
}

.jumbo-country .select2-selection__arrow {
    height: 37px !important;
}

.select2-results li.select2-results__option[aria-selected="true"] {
    background-color: #64bb5d;
    color: white;
}

.jumbotron {

    background-color: #33BBED;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33bbed+0,008cd8+100 */
    background: rgb(51,187,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(51,187,237,1) 0%, rgba(0,140,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,187,237,1)), color-stop(100%,rgba(0,140,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(51,187,237,1) 0%,rgba(0,140,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(51,187,237,1) 0%,rgba(0,140,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(51,187,237,1) 0%,rgba(0,140,216,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(51,187,237,1) 0%,rgba(0,140,216,1) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33bbed', endColorstr='#008cd8',GradientType=0 ); /* IE6-9 */
    /*padding-bottom: 60px;*/
    margin-bottom: 0;

    z-index: 2;

}

.play-video-button {
    width: 41px;
    margin: 0 auto;
    position: relative;
    top: 2px;
    outline: none;
    cursor: pointer;
    left: 5px;
}

.play-video-button a {
    outline: none;
}

.jumbo-addition {
    padding: 5px 0 0 0;
    position: relative;
    margin-bottom: 20px;
    height: 50px;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#087ac0+0,2fbced+50,097bc0+100 */
    background: #087ac0; /* Old browsers */
    background: -moz-linear-gradient(left, #087ac0 0%, #2fbced 50%, #097bc0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #087ac0 0%,#2fbced 50%,#097bc0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #087ac0 0%,#2fbced 50%,#097bc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#087ac0', endColorstr='#097bc0',GradientType=1 ); /* IE6-9 */
}

.jumbo-addition .container {
    padding-top: 0;
}

.jumbo-addition ul, .jumbo-addition li {
    list-style: none;
}

.jumbo-addition::after {
    content: "";
    display: table;
    clear: both;
}

.jumbotron a:not(.btn) {
    color: #64bb5d;
}

.jumbotron {
    position: relative;
    /*overflow: hidden;*/
}

.jumbotron .jumbo-content {
    z-index: 2;
    position: relative;
}

.jumbo-backlay {
    background: url("../../img/jumbo_gate.jpg") 0 -380px no-repeat;
    background-size: cover;
}

.jumbo-play-block {
    width: 100px;
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: 65px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

.container {
    padding-top: 20px;
}

#how-it-works-title {
    margin-bottom: 10px;
}

.index-steps .well {
    position: relative;
}

.index-steps i {
    position: absolute;
    color: #64bb5d;
    top: 20%;
    font-size: 30px;
    right: -16px;
}

#userpanel .user-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#userpanel .dropdown-toggle {
    padding: 0;
}

#megamenu {
    width: 100%;
    background-color: #3498db;
    /*background-color: #20A957;*/
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    margin-top: 5px;
    /*position: absolute;*/
}

#megamenu .container {
    padding: 20px 0 10px 0;
    text-align: center;
    color: white;
    font-size: 24px;
}

#megamenu .container .row {
    margin-bottom: 10px;
}

#megamenu .fa-stack {
    float: left;
    width: 50px;
}

#megamenu .step-text {
    position: relative;
    top: 2px;
    display: block;
    margin-left: 60px;
    /*max-width: 200px;*/
    text-align: left;
}

#megamenu .step-text p {
    font-size: 14px;
}

#megamenu ul > li {
    margin-right: 10px;
    margin-bottom: 5px;
}

#megamenu a {
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
}

#megamenu a:hover {
    color: #3498db;
}

.megamenu-opened {
    max-height: 1000px !important;
    transition: max-height 0.15s;
}

#promo-blocks-row {
    margin-bottom: 30px;
}

.promo-block-item h3 {
    font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 300;
    font-size: 28px;
}

.promo-block-img {
    text-align: center;
}

.promo-block-text {
    padding: 0;
    text-align: center;
}

.promo-block-text .promo-block-text-content {
    width: 50%;
    margin: 0 auto;
}

.promo-block-text-content h3 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}

.fluid-width-video-wrapper iframe {
    width: 100%;
}

#top-search input {
    background-color: white;
}

#country-select-wrapper {
    margin-top: 7px;
}

#country-select {
    width: 200px;
}

#country-select-wrapper .select2-selection__rendered {
    line-height: 37px;
}

#country-select-wrapper .select2-selection {
    height: 37px;
    border: 1px solid #64bb5d;
}

#country-select-wrapper .select2-selection__arrow {
    top: 6px;
}

/* --------------------------- footer ---------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: white;
    /*padding: 15px 0;*/
}

.footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron-middle {
    /*background: none;
    background-color: #e3e3e3;*/
    background-color: #3498db;
    margin-top: 20px;
    text-align: center;
    padding: 20px 0 30px 0;
    color: white;
}

.jumbotron-middle h3 {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: 300;
}

.jumbotron-middle p {
    font-family: "MuseoSansCyrl", sans-serif;
    width: 50%;
    font-size: 18px;
    margin: 0 auto 15px auto;
    line-height: 22px;
}

.modal-open .modal {
    overflow-y: hidden;
}

#menu-hiw {
    position: relative;
    top: 8px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

#faq-menu{
    position: relative;
    top: 8px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.login-popup-form {
    display: none;
    z-index: 1001;
    position: fixed;
    overflow: hidden;
    width: 600px;
    padding: 15px;
    background-color: white;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#login-popup-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    display: none;
}

#p-search_smw > .form-group,
#top-search .form-group {
    position: relative;
}

.jumbo-search .search-submit {
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 15px;
    right: 10px;
    top: 13px;
    border: 0;
    background: none;
    text-align: center;
    padding: 0;
    color: #1c9cd7 !important;
}

#p-search_smw > .form-group .search-submit,
#top-search .form-group .search-submit {
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 15px;
    right: 10px;
    top: 10px;
    border: 0;
    background: none;
    text-align: center;
    padding: 0;
}

#top-search .form-group .search-submit {
    right: -5px;
}

#why_signup > a {
    color: #cdced0;
    padding-right: 8px;
}

.i-jumbotext h1 {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: 100;
}

.i-jumbotext p {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    max-width: 600px;
}

#home-icons {
    padding-top: 10px;
    padding-bottom: 20px;
}

#home-icons .home-col {
    padding-left: 0;
    padding-right: 0;
    min-height: 235px;
    background: url('../../img/home_icons.png') center center no-repeat;
    background-size: cover;
}

#home-icons .home-col img {
    width: 100%;
}

#home-icons .col-home-mobile {
    text-align: center;
    margin-bottom: 25px;
}

#home-icons .col-home-mobile:last-child {
    margin-bottom: 0;
}

#home-icons .col-home-mobile img {
    max-width: 250px;
}

.btn.btn-settle-orange {
    color: #02ad4e;
    font-weight: 900;
    background-color: #ffde00;
}

.btn.btn-settle-orange:hover, .btn.btn-settle-orange:active {
    background-color: #ffd100;
}

#login-selector a {
    padding-left: 0;
    padding-right: 0;
    color: #57be74;
}

#register-selector a {
    padding-left: 0;
    padding-right: 0;
    color: #57be74;
}

.header-menu-divider {
    color: #57be74;
    padding: 13.5px 7px 0 7px;
}

#nav .navbar-right {
    font-size: 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: none;
    color: #282828;
}

#why_signup a:hover, #login-selector a:hover, #register-selector a:hover {
    color: #282828;
}

/* --------------------------- media ----------------------------------------------- */
@media ( min-width: 1600px ) {
    .jumbotron, #home-icons, #nav > .container {
        width: 1600px;
        margin: 0 auto;
    }
    .jumbo-addition {
        width: 1600px;
        margin: 0 auto;
    }
}

@media ( max-width: 1200px ) {
    .index-steps i {
        display: none;
    }
    #home-icons .home-col {
        background-size: 140%;
        min-height: 200px;
    }
    .jumbo-backlay {
        background-position: center center;
    }
}

@media (min-width: 1200px) {
    .modal.container {
        width: 870px;
        margin-left: -435px;
    }
}

@media ( max-width: 780px ) {
    #jumbo-backlay {
        /*background-size: cover;*/
    }
    #megamenu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .jumbo-addition {
        height: auto;
        padding: 5px 0 5px 0;
    }

    .jumbo-addition > .container > ul {
        padding: 0;
    }

    #nav #why_signup {
        float: right;
    }

    .i-jumbotext p {
        font-size: 20px;
    }

    .jumbo-search {
        width: 80%;
    }

}

@media (max-width: 480px) {
    .i-jumbotext h1 {
        font-size: 30px;
    }
    .i-jumbotext p {
        font-size: 14px;
    }
    .login-popup-form.mobile-form-popup {
        width: 98%;
    }

    .jumbo-search {
        width: 100%;
    }
}