<div id="nav" class="animated fadeInDown">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-header">
                <a href="{{ root_link }}">
                    <svg id="svg_lettermark_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164 41">
                        <style>
                            .st0{opacity:0;fill:#FFFFFF;} .st1{fill:#27AAE1;} .st2{fill:#3EB649;} .st3{fill-rule:evenodd;clip-rule:evenodd;fill:#FEE400;}
                        </style>
                        <path class="st0" d="M0 0h164v41H0z"/>
                        <path class="st1" d="M57.1 26.9H31.3c.3 2.9 1.5 5.3 3.7 7.1 2.1 1.9 4.7 2.8 7.6 2.8 4.5-.1 7.8-2.2 9.7-6.3h4.1c-1.1 3.1-2.9 5.5-5.4 7.3-2.6 1.8-5.4 2.7-8.5 2.8-3.9.1-7.4-1.4-10.4-4.3s-4.6-6.4-4.6-10.5c-.1-4.3 1.4-8 4.6-11.1 3.1-3.1 6.8-4.5 11.1-4.3 3.8.2 7.1 1.8 10 4.7 2.7 2.9 4.1 6.1 4.1 9.7v2.1zm-3.8-3.5c-.5-2.7-1.8-4.9-3.8-6.5-2-1.7-4.3-2.5-7.1-2.5s-5.2.8-7.2 2.5c-2.1 1.7-3.4 3.9-3.9 6.6h22zM71 40.5c-7 0-10.5-3-10.5-8.9V1.2h3.8v10H71v3.6h-6.6V31c0 4.3 2.2 6.4 6.6 6.4v3.1zM84.8 40.5c-7 0-10.5-3-10.5-8.9V1.2h3.8v10h6.6v3.6h-6.6V31c0 4.3 2.2 6.4 6.6 6.4v3.1zM126.1 26.9h-25.8c.3 2.9 1.5 5.3 3.7 7.1 2.1 1.9 4.7 2.8 7.6 2.8 4.5-.1 7.8-2.2 9.7-6.3h4.1c-1.1 3.1-2.9 5.5-5.4 7.3-2.6 1.8-5.4 2.7-8.5 2.8-3.9.1-7.4-1.4-10.4-4.3s-4.6-6.4-4.6-10.5c-.1-4.3 1.4-8 4.6-11.1 3.1-3.1 6.8-4.5 11.1-4.3 3.8.2 7.1 1.8 10 4.7 2.7 2.9 4.1 6.1 4.1 9.7v2.1zm-3.8-3.5c-.5-2.7-1.8-4.9-3.8-6.5-2-1.7-4.3-2.5-7.1-2.5s-5.2.8-7.2 2.5c-2.1 1.7-3.4 3.9-3.9 6.6h22z"/>
                        <path class="st2" d="M129.5 11.2h3.8v29.4h-3.8zM162.8 40.6H159V23.2c0-2.4-.9-4.5-2.7-6.2-1.8-1.7-3.8-2.6-6.2-2.6-2.4 0-4.5.9-6.3 2.6-1.8 1.7-2.7 3.8-2.7 6.2v17.4h-3.8v-17c0-3.7 1.2-6.8 3.6-9.3 2.4-2.5 5.5-3.7 9.1-3.7 3.6 0 6.6 1.2 9.1 3.7 2.4 2.5 3.6 5.6 3.6 9.3v17z"/>
                        <path class="st3" d="M133.6 1.1c-.1 0-.1 0 0 0-.5-.5-1.2-.9-2.1-.9h-.2c-.9 0-1.5.4-2 .8l-.1.1c-.4.5-.8 1.1-.8 2v.1c0 .8.3 1.2.6 1.8l.9 1.5c.6 1 1.2 2 1.5 3.2.3-1.3.9-2.3 1.5-3.2.3-.5.6-.9.9-1.4.1-.2.3-.5.4-.8.1-.3.2-.6.2-1v-.1c0-1-.4-1.6-.8-2.1zM131.4 4c-.5 0-.9-.4-.9-.9s.4-.9.9-.9.9.4.9.9-.4.9-.9.9z"/>
                        <path class="st1" d="M13.8 40.8c-2.7 0-4.9-.4-6.7-1.2-1.8-.8-3.2-2-4.3-3.5-1-1.6-1.6-3.4-1.6-5.3l3.7-.3c.2 1.5.6 2.7 1.2 3.6.6.9 1.6 1.7 3 2.3 1.3.6 2.9.9 4.5.9 1.5 0 2.8-.2 4-.7 1.1-.4 2-1.1 2.6-1.8.6-.8.8-1.6.8-2.5 0-.9-.3-1.7-.8-2.4s-1.4-1.3-2.7-1.7c-.8-.3-2.6-.8-5.3-1.4-2.7-.6-4.6-1.3-5.7-1.8-1.4-1-2.4-1.9-3.1-3-.7-1.1-1-2.3-1-3.7 0-1.5.4-2.9 1.3-4.2.8-1.3 2.1-2.3 3.7-3 1.6-.7 3.5-1 5.4-1 2.2 0 4.1.4 5.8 1.1 1.7.7 3 1.8 3.9 3.1.9 1.4 1.4 2.9 1.5 4.7l-3.8.3c-.2-1.9-.9-3.3-2-4.2-1.2-1-2.9-1.4-5.2-1.4-2.4 0-4.1.4-5.2 1.3-1.1.9-1.6 1.9-1.6 3.1 0 1.1.4 1.9 1.2 2.6.7.7 2.7 1.4 5.9 2.1 3.2.7 5.4 1.4 6.5 1.9 1.7.8 3 1.8 3.8 3 .8 1.2 1.2 2.6 1.2 4.2s-.5 3.1-1.4 4.5c-.9 1.4-2.2 2.5-3.9 3.3-1.7.7-3.6 1.1-5.7 1.1zM88.2 1.1H92v39.4h-3.8z"/>
                    </svg>
                </a>
            </div>
            <div id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {{# isloggedin }}
                        <li class="btn-group-nav">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Hi,
                                {{ username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu primary-back">
                                <li>
                                    <a href="{{ new_article_link }}">
                                        {{ _ "settlein-skin-add-new-article-button" }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ preferences_link }}">
                                        {{ _ 'settlein-skin-header-usermenu-profile' }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ logout_link }}">
                                        {{ _ 'settlein-skin-header-usermenu-logout' }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {{/ isloggedin}}
                    {{^ isloggedin }}
                        <li class="btn-group-nav" id="login-selector-main">
                            <a href="{{ login_link }}" ><b>
                                {{ _ 'settlein-skin-header-login' }}
                            </b></a>
                        </li>
                        <li class="btn-group-nav" id="register-selector-main">
                            <a href="{{ register_link }}" ><b>
                                {{ _ 'settlein-skin-header-signup' }}
                            </b></a>
                        </li>
                    {{/ isloggedin}}
                </ul>
            </div>
        </nav>
    </div>
</div>

<div id="fullpage">
    <div class="section slide-1">

        <section>

            <div class="jumbotron animated fadeIn">

                <div class="jumbo-content">

                    <div class="i-jumbotext">
                        <h1>{{ _ 'settlein-skin-mainpage-jumbotron-title' }}</h1>
                    </div>

                    <form role="search" action="{{& geosearchurl }}" id="searchform_smw" method="post">

                        <div class="jumbo-search">
                            {{& geosearch }}
                            <input type="text" placeholder="{{ _ "sil-search-form-field-label-search" }}" name="geo_text"
                                   class="form-control selectize-search-appendix" />
                            <a href="#" class="search-submit fa fa-search"></a>
                        </div>

                        <input type="hidden" name="query" value="true" />
                        <input type="hidden" value="" name="sf_free_text">
                        <input type="hidden" value="Search" name="wpRunQuery">

                    </form>

                    <div class="i-jumbotext">
                        <p>
                            {{ _ "settlein-skin-mainpage-jumbotron-text" }}
                        </p>
                    </div>


                </div>

            </div>

        </section>

        <div class="vegas-bg"></div>

        <div class="above-fold animated fadeInUp" id="fold-how-it-works">
            {{ _ "settlein-skin-mainpage-section-how-it-works-fold" }}
        </div>

    </div>

    <div class="section slide-2">

        <div class="container-fluid js-animated" data-custom-animation="fadeIn" id="home-icons">
            <div class="row hidden-xs">
                <div class="home-col col-md-12">

                </div>
            </div>
            <div class="row hidden-sm hidden-md hidden-lg">
                <div class="col-home-mobile">
                    <img src="{{ img_car }}" />
                </div>
                <div class="col-home-mobile">
                    <img src="{{ img_home }}" />
                </div>
                <div class="col-home-mobile">
                    <img src="{{ img_help }}" />
                </div>
            </div>
            <div class="row home-icons-text">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
                    <h3>{{ _ "settlein-skin-mainpage-section-using-title" }}</h3>
                    <p>
                        {{ _ "settlein-skin-mainpage-section-using-text" }}
                    </p>
                </div>
            </div>
        </div>

        <div class="above-fold js-animated" data-custom-animation="fadeInUp" id="fold-how-you-can-help">
            {{ _ "settlein-skin-mainpage-section-how-to-help-fold" }}
        </div>

    </div>

    <div class="section slide-3">

        <div class="jumbotron jumbotron-middle js-animated" data-custom-animation="fadeIn">
            <h3>{{ _ 'settlein-skin-mainpage-bottom-title' }}</h3>
            <p>
                {{ _ 'settlein-skin-mainpage-bottom-text' }}
            </p>
            <p class="how-help-links">
                <span class="label">
                    <a href="#" data-toggle="modal" data-target="#modal-create">
                        {{ _ "settlein-skin-mainpage-section-how-to-help-example-create" }}
                    </a>
                </span>
                <span class="label">
                    <a href="#" data-toggle="modal" data-target="#modal-edit">
                        {{ _ "settlein-skin-mainpage-section-how-to-help-example-edit" }}
                    </a>
                </span>
                <span class="label">
                    <a href="#" data-toggle="modal" data-target="#modal-rate">
                        {{ _ "settlein-skin-mainpage-section-how-to-help-example-rate" }}
                    </a>
                </span>
                <span class="label">
                    <a href="#" data-toggle="modal" data-target="#modal-like">
                        {{ _ "settlein-skin-mainpage-section-how-to-help-example-like" }}
                    </a>
                </span>
                <span class="label">
                    <a href="#" data-toggle="modal" data-target="#modal-send">
                        {{ _ "settlein-skin-mainpage-section-how-to-help-example-send" }}
                    </a>
                </span>
                <span class="label">
                    <a href="#" data-toggle="modal" data-target="#modal-donate">
                        {{ _ "settlein-skin-mainpage-section-how-to-help-example-donate" }}
                    </a>
                </span>
            </p>
            <!--<a href="#" class="btn btn-settle-orange">
                {{ _ 'settlein-skin-mainpage-bottom-button-text' }}
            </a>-->
        </div>

        <div class="above-fold js-animated" data-custom-animation="fadeInUp" id="fold-what-else">
            {{ _ "settlein-skin-mainpage-section-what-else-fold" }}
        </div>

    </div>

    <div class="section slide-4">

        <div class="jumbotron jumbotron-middle js-animated" data-custom-animation="fadeIn">
            <!--<h3>{{& categories_heading }}</h3>
            <p class="main-page-categoris-links">
                {{& categories_links }}
            </p>-->
            <h3>
                {{& statistics_string_formatted }}
            </h3>
            <p>
                {{ _ "settlein-skin-mainpage-section-statistics-text1" }}
            </p>
            <p>
                {{ _ "settlein-skin-mainpage-section-statistics-text2" }}
            </p>
        </div>

        <div class="above-fold js-animated" data-custom-animation="fadeInUp" id="fold-contribute">
            {{ _ "settlein-skin-mainpage-section-contribute-fold" }}
        </div>

    </div>

    <div class="section slide-5">

        <div class="jumbotron jumbotron-middle js-animated" data-custom-animation="fadeIn">
            <h3>{{& requests_heading }}</h3>
            <p class="main-page-categoris-links">
                <a href="{{& requests_link }}" class="btn btn-settle-orange">
                    {{ _ "settlein-skin-mainpage-section-answer-a-request" }}
                </a>
            </p>
        </div>

        <footer class="footer js-animated" data-custom-animation="fadeInUp">
            <div class="container">
                <ul class="nav navbar-nav footer-menu-items">
                    <li>
                        <a href="#">
                            {{ _ 'settlein-skin-footer-about-us' }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ _ 'settlein-skin-footer-contact' }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ _ 'settlein-skin-footer-helpout' }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ _ 'settlein-skin-footer-tos' }}
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right col-xs-12 col-sm-2 footer-social-icons">
                    <li class="col-xs-4 text-center">
                        <a target="_blank" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="col-xs-4 text-center">
                        <a target="_blank" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="col-xs-4 text-center">
                        <a target="_blank" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </footer>

    </div>

</div>

<!-- Modals -->

<!-- Create new page -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-create">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ _ "settlein-skin-mainpage-section-help-modal-create-title" }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ _ "settlein-skin-mainpage-section-help-modal-create-text" }}
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit a page -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ _ "settlein-skin-mainpage-section-help-modal-edit-title" }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ _ "settlein-skin-mainpage-section-help-modal-edit-text" }}
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Rate a page -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-rate">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ _ "settlein-skin-mainpage-section-help-modal-rate-title" }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ _ "settlein-skin-mainpage-section-help-modal-rate-text" }}
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Like a page -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-like">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ _ "settlein-skin-mainpage-section-help-modal-like-title" }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ _ "settlein-skin-mainpage-section-help-modal-like-text" }}
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Send a page -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-send">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ _ "settlein-skin-mainpage-section-help-modal-send-title" }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ _ "settlein-skin-mainpage-section-help-modal-send-text" }}
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Donate a page -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-donate">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ _ "settlein-skin-mainpage-section-help-modal-donate-title" }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ _ "settlein-skin-mainpage-section-help-modal-donate-text" }}
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->